.button_root {
  width: 90%;
  height: 52px;
  color: #ffff;
  border-radius: 8px;
  border: none;
  background: #d83232;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.disabled {
  background: #cfcfcf;
  color: #7b7b7b;
}
