.root {
  min-height: 100vh;
  position: relative;
}
.header {
  height: 42px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #d83232;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.header > a {
  color: #ffffff;
  text-decoration: none;
}
.video_container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.video_wrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 40vh solid rgba(0, 0, 0, 0.5);
  border-bottom: 40vh solid rgba(0, 0, 0, 0.5);
}

#topleft {
  position: absolute;
  top: 3vh;
  left: 10vw;
}
#topright {
  transform: rotate(90deg);
  position: absolute;
  top: 3vh;
  right: 10vw;
}
#bottomright {
  transform: rotate(180deg);
  position: absolute;
  bottom: 3vh;
  right: 10vw;
}
#bottomleft {
  transform: rotate(270deg);
  position: absolute;
  bottom: 3vh;
  left: 10vw;
}
#navedite {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  position: fixed;
  top: 20vh;
  margin: 0;
  width: 100%;
}
#error_message {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #d83232;
  position: absolute;
  bottom: -20vh;
  margin: 0;
  width: 100%;
}
#note_message {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffff;
  position: absolute;
  bottom: -20vh;
  margin: 0;
  width: 100%;
}
