.credit_root {
  margin-top: 42px;
  padding: 20px;
}
.phone_input {
  background: #f5f6fa;
  border-radius: 8px;
  height: 52px;
  width: 100%;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #6f6f6f;
}
.phone_input:focus-visible {
  outline-color: #6f6f6f;
}
