.product_root {
  margin-top: 42px;
  padding: 20px;
  min-height: 100vh;
}
#myimg {
  width: 100%;
  height: auto;
}
#details_header {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
.details_point {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #6f6f6f;
  margin: 0;
}
.point_span {
  color: #2c2c2c;
}
